body {
  /* background: url("../images/BG_1.jpg") no-repeat center center fixed; */
  /* background-size: cover; */
  background-color: #cccccc;
}

html {
  background: url("../images/BG_1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
