.navbar {
  background-color: red;
  height: 160px;
}

#contact {
  background-color: red;
  background-color: rgba(98, 98, 98, 0.3);

  border-radius: 26px;
  width: 75%;
  margin: auto;
  margin-top: 300px;
}

#contact-text {
  text-align: center;
  padding: 10px;
}

.butn {
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  text-decoration: none;
  color: blue;
}

@media screen and (max-width: 340px) {
  a,
  .navbar-brand,
  .navbar-nav .nav-link {
    color: red;
  }
  a:hover .navbar-nav:hover .nav-link:hover,
  link:hover {
    background: purple;
    color: green;
  }
}
